<!DOCTYPE html>
<html>
  <head>
    <title>Landing Page App</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
  </head>
  <body>
    <div>
      <h1>Please select your region</h1>
    </div>
    {{#each regions}}
    <div>
      <p>
        <a href="{{this.url}}">Go to {{this.name}} region</a>
      </p>
    </div>
    {{/each}}
  </body>
</html>
